body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

html {
  background-color: #fcfcfc;
}

.kingGradient {
  background: #5f2c82;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#49a09d), to(#5f2c82));
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ActiveICODiv,
.UpcomingICODiv,
.RecentICODiv {
  display: none;
}

#navi {
  height: 160%;
}

.logo {
  width: 200px;
  padding: 20px 30px;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

#navElements {
  padding-top: 14px;
}

.side-nav {
  background-color: #fcfcfc;
}

#mobileNavMenu {
  position: relative;
  top: 28px;
  margin-right:20px;
  color: #fcfcfc;
}
#mobileNavMenu:hover {
  cursor: pointer;
}

i.medium {
  font-size: 3rem;
}

#sidenav-overlay {
  z-index: 998;
}

#logoinSideNav {
  margin-left: 103px;
  width: 73px;
}
.titleICO {
  padding-top: 62px;
  font-weight: 500;
  width: 98%;
  font-size: 6.5em;
  letter-spacing: 8px;
  color: #5f2c82;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#49a09d), to(#5f2c82));
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardInfo {
  color: #5f2c82;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #5f2c82;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #49a09d;
}
.card .card-title {
  font-weight: 500;
  color: #5f2c82;
  margin-left: 6px;
}

.icoIcons {
  width: 2em;
  margin-right: 2px;
}

.card-content {
  height: 12em;
  overflow: auto;
}
.card .card-action {
  padding: 10px;
}
.cardFooter {
  margin-bottom: 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

.daysLeft {
  float: left;
  font-weight: 800;
  color: #5f2c82;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#49a09d), to(#5f2c82));
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-footer {
  background-color: #cfdcdc;
}

.page-footer .footer-copyright,
.linkHeader {
  color: #512c6a;
}

.footerText,
.footerLinks,
.moreLinks {
  color: #5f2c82;
}

.footerLinks:hover,
.moreLinks:hover {
  color: #49a09d;
  font-weight: bold;
}

.designedBy {
  float: right;
}
.socialIcons {
  margin-left: 15px;
}

/*media page ----------------------------- */

.homeNav {
  padding-right: 26px;
}
.rembeddit {
  border: none;
}

.facebookDiv .video-container {
  padding-bottom: 7%;
}

.icoLogos {
  width: 40px;
}

.icoNameMediaPg {
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 3px;
  color: #5a4a60;
}

.icoBio {
  line-height: 26px;
  font-weight: 400;
}

.icoMainRating {
  color: #5f2c82;
  font-weight: 500;
  font-size: 3.50rem;
  letter-spacing: 4px;
  padding-bottom: 12px;
}

.scoreType {
  font-size: 10px;
  text-transform: uppercase;
  color: #84878a;
  font-weight: 400;
}

.score {
  color: #49a09d;
}

.startsIn {
  color: #5a4a60;
  font-weight: 300;
  letter-spacing: 2px;
  padding-bottom: 12px;
}

.startsInInfoCol1 {
  color: #5a4a60;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
}

.startsInInfoCol2 {
  font-weight: 700;
  color: #4a4b4b;
  line-height: 30px;
  letter-spacing: 1px;
}

#moreOnBtn {
  font-weight: 300px;
  margin-top: 20px;
}

.row.icoTable {
  margin-bottom: 8px;
}

ul.icoList:not(.browser-default)>li {
  list-style-type: circle;
  margin-left: 74px;
  line-height: 30px;
  letter-spacing: 1px;
}

.modal {
  width: 70%;
}

.phase2 {
  border: solid 1px grey;
  padding: 20px;
  margin: 14px ;

}

.modal p {
  line-height: 30px;
  letter-spacing: .75px;
}

.teamImg {
  width: 86px;
}

.teamFirst,
.teamLast {
  font-size: 1.20rem;
  font-weight: 600;
}

.teamTitle {
  color: #84878a;
  font-size: 14px;
}

.in:hover {
  cursor: pointer;
  width: 40px;
}

div.teamMembers,
div.financialCard {
  background-color: #e6e7e8;
}

div.card-panel.z-index-3.financialCard.fc1 {
  padding-bottom: 1px;
}

.financialCard h5 {
  color: #5f2c82;
  padding-bottom: 14px;
}

div.col.s12.lineCol {
  padding-top: 14px;
}

.container.financialCont {
  width: 80%;
}

.btn {
  border-radius: 12px;
}
/*helper classes ------------------------ */

.uppercase {
  text-transform: uppercase;
}

.letterspacing {
  letter-spacing: 3px;
}


/*media queries -------------------------- */
@media (max-width: 992px){
  .twitterWrapper {
    margin-top: 2px;
  }
}

@media (max-width: 600px){
  .container.main {
    width: 100%;
  }
  #twitterDiv {
    width: 100%;
  }
  .titleICO {
    font-size: 4.2em;
  }
  .designedBy {
    float: none;
    display: inline-block;
    width: 100%;
  }
  .page-footer {
    text-align: center;
  }
  /*.container.foot-CR {
    width: 74%;
  }*/

  h4 {
    font-size: 24px;
  }
}
