body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

html {
  background-color: #fcfcfc;
}

.kingGradient {
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ActiveICODiv,
.UpcomingICODiv,
.RecentICODiv {
  display: none;
}

#navi {
  height: 160%;
}

.logo {
  width: 200px;
  padding: 20px 30px;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

#navElements {
  padding-top: 14px;
}

.side-nav {
  background-color: #fcfcfc;
}

#mobileNavMenu {
  position: relative;
  top: 28px;
  margin-right:20px;
  color: #fcfcfc;
}
#mobileNavMenu:hover {
  cursor: pointer;
}

i.medium {
  font-size: 3rem;
}

#sidenav-overlay {
  z-index: 998;
}

#logoinSideNav {
  margin-left: 103px;
  width: 73px;
}
.titleICO {
  padding-top: 30px;
  font-weight: 500;
  font-size: 580%;
  color: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardInfo {
  color: #5f2c82;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #5f2c82;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #49a09d;
}
.card .card-title {
  font-weight: 500;
  color: #5f2c82;
  margin-left: 6px;
}

.icoIcons {
  width: 2em;
  margin-right: 2px;
}

.card-content {
  height: 12em;
  overflow: auto;
}
.card .card-action {
  padding: 10px;
}
.cardFooter {
  margin-bottom: 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

.daysLeft {
  float: left;
  font-weight: 800;
  color: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ActiveICODiv {
  margin-bottom: 400px;
}

.page-footer {
  background-color: #cfdcdc;
}

.page-footer .footer-copyright,
.linkHeader {
  color: #512c6a;
}

.footerText,
.footerLinks,
.moreLinks {
  color: #5f2c82;
}

.footerLinks:hover,
.moreLinks:hover {
  color: #49a09d;
  font-weight: bold;
}
/*media page ---------------------------------------------------------------------- */

.homeNav {
  padding-right: 26px;
}


/*media queries -------------------------------------------------------------------- */
@media (max-width: 992px){
  .twitterWrapper {
    margin-top: 20px;
  }
}

@media (max-width: 600px){
  #twitterDiv {
    width: 100%;
  }
}
